<% content_for :page_title, "Upcoming events" %>

<div class="d-flex">
  <div class="flex-fill text-left">
    <small class="text-muted">Primary time zone <span class="text-monospace"><%= @time_zone.to_s %></span></small>
  </div>
  <div class="flex-fill text-right">
    <small class="text-monospace"><%= link_to("iCal", calendar_feed_url(@access_token, format: :ics, protocol: 'webcal')) %> </small>
  </div>
</div>
<% if @events.empty? %>
  <section class="text-center p-5">
    <h3>You have no upcoming events.</h3>
  </section>
<% else %>
  <section class="text-left">
    <table class="table">
      <% @events.chunk { |e| e.starts_at.in_time_zone(@time_zone).midnight }.each do |date_time, events| %>
        <tbody class="event-list" data-date="<%= date_time.to_date.iso8601 %>">
        <tr class="<%= Time.current.in_time_zone(@time_zone).to_date == date_time.to_date ? "text-light bg-dark" : "table-active" %> event-list__header">
          <th colspan="3"><%= date_time.strftime("%a %d %b") %></th>
        </tr>
        <% events.each do |event| %>
          <tr class="event" data-event-id="<%= event.uid %>">
            <td class="event__time--local">
              <%= event.starts_at.in_time_zone(@time_zone).strftime("%H:%M") %>
            </td>
            <td class="event__title"><%= event.title %></td>
            <td class="event__time--eve">
              <small class="text-muted text-monospace">
                <%= event.starts_at.utc.strftime("%Y-%m-%d %H:%M") %>
                <abbr title="EVE Online Time" class="initialism">EVE</abbr>
              </small>
            </td>
          </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  </section>
<% end %>
