<% content_for :page_title, "About" %>

<div class="text-left">
  <h3>About</h3>

  <p><%= site_name %> is a tool for the science fiction computer game
  <a href="https://www.eveonline.com/signup/?invc=7a106e65-1709-4747-9e27-109a4d2774d6"
     rel="noopener nofollow"
     target="_blank">EVE Online</a>.</p>

  <p>It provides a convenient out-of-game access to in-game calendar. Please check
  the complete list of <%= link_to("features", root_path) %>.</p>

  <section class="py-4" id="privacy">
    <h4>Privacy statement</h4>

    <p>The site uses Eve Online's own <%= link_to_eve_online_sso_help("single-sign-on") %> system. No login data is stored.</p>

    <p>The following permissions are requested</p>

    <dl class="px-4">
      <dt class="text-monospace">esi-calendar.read_calendar_events.v1</dt>
      <dd>Allows reading a character's calendar, including corporation events</dd>
    </dl>

    <p>Once granted, permissions can be revoked anytime using the <a href="https://community.eveonline.com/support/third-party-applications/" target="_blank" rel="noopener nofollow">Third Party Applications</a> management page.</p>

    <div class="alert alert-secondary" role="alert">
      <strong>Note:</strong> <%= site_name %> is open-source. Please feel free to look at or audit <a href="https://github.com/lunohodov/eventical" target="_blank" rel="noopener">the code</a>.
    </div>
  </section>

  <section class="py-4" id="acknowledgements">
    <h4>Acknowledgements</h4>
    <p>Initial work and ongoing development is done by <a href="https://evewho.com/pilot/Devas+Weddo" target="_blank" rel="noopener">Devas Weddo</a>. See also the list of <a href="https://github.com/lunohodov/eventical/graphs/contributors" target="_blank" rel="noopener">contributors</a> who participated in this project.</p>
    <h5>Build with</h5>
    <ul>
      <li><a href="https://github.com/rails/rails" target="_blank" rel="noopener">Ruby on Rails</a> — The back end is a Rails app</li>
      <li><a href="http://www.postgresql.org/" target="_blank" rel="noopener">PostgreSQL</a> — Main data store is in Postgres</li>
      <li><a href="https://github.com/lunohodov/eventical/blob/master/Gemfile" target="_blank" rel="noopener">Various Ruby libraries</a></li>
    </ul>
    <h5>Icons</h5>
    <ul>
      <li>devices by Gregor Cresnar from the Noun Project</li>
      <li>people by Manohara from the Noun Project</li>
      <li>Time Zones by Cuby Design from the Noun Project</li>
    </ul>
  </section>

  <section class="py-4" id="contact">
    <h4>Contact and feedback</h4>
    <p>Feedback is greatly appreciated. Signal a problem or request a feature by submitting <a href="https://github.com/lunohodov/eventical/issues/new" target="_blank" rel="noopener">an issue</a>.</p>
  </section>

  <section class="py-4" id="copyright">
    <h4>Copyright</h4>
    <div id="ccp-copyright">
      <p>
      EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide.
      All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all
      associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters,
      vehicles, storylines, world facts or other recognizable features of the intellectual property relating
      to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to
      <%= site_name %> to use EVE Online and all associated logos and designs for promotional and information
      purposes on its website but does not endorse, and is not in any way affiliated with, <%= site_name %>.
      CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for
      any damage arising from the use of this website.
      </p>
    </div>
  </section>

  <p class="h3 mt-5 text-center">Thank you!</p>
</div>
