<section class="intro my-5">
  <h1 class="intro--heading font-weight-bolder">
    Convenient out-of-game access to your EVE Online calendar.
  </h1>

  <p class="intro--body py-2">
    <strong class="underline-gradient">Before eve-calendars:</strong>
    EVE Online‘s calendar is disconnected from your daily agenda, you fail to notice overlaps, deal with time zones, and events slip.
    <strong class="underline-gradient">After eve-calendars:</strong>
    Your EVE Online and daily agendas are side by side, overlaps are easy to spot, times are in your time zone, and you take part in the game.
  </p>
</section>

<section class="">
  <picture class="agenda-hero__screen">
    <source srcset="<%= asset_url("agenda-apple-calendar-small.png") %>" media="(max-width: 600px)">
    <source srcset="<%= asset_url("agenda-apple-calendar-large.png") %>" media="(min-width: 601px)">
    <%= image_tag "agenda-apple-calendar-large.png", class: "img-fluid", alt: "Integration with Apple Calendar" %>
  </picture>

  <h2 class="font-weight-bolder mt-5">Side by side, not aside.</h2>

  <p>
  With EVE Online’s calendar available only in-game, people use additional means to organize and share events. As a result your agenda is spread out across the game client,
  calendar apps, corporation/alliance forums etc. Updates are tough to follow, overlaps hard to see, and you miss events.
  </p>


  <p>
  <strong class="underline-gradient">But with eve-calendars, you’ll see</strong> everything together, access game‘s calendar straight from your favourite calendar app, notice overlaps, and know which event you can take part in.
  </p>

  <!-- <p class="lead"><%= link_to "Take a deeper look at how it works", "#" %></p> -->
</section>

<section class="my-5">
  <h2>Give eve-calendars a try.</h2>
  <% if signed_in? %>
    <%= link_to "Go to calendar", calendar_url %>
  <% else %>
    <%= eve_online_sso_button(:large) %>
    <p class="m-2"><%= link_to_eve_online_sso_help %></p>
  <% end %>
</section>
