<section>
  <h3> Secret address </h3>

  <p> Use the integration links below to access your calendar from other applications.
  <strong>Don’t share them with other people.</strong> </p>

  <div class="list-group mb-4">
    <div class="list-group-item flex-column align-items-start" id="secret-address">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Web browser</h5>
      </div>
      <p class="mb-1"> <%= link_to(nil, calendar_feed_url(@personal_token)) %> </p>
      <small>Use this address to privately access your calendar from a web browser.</small>
    </div>
    <div class="list-group-item flex-column align-items-start" id="secret-address-ical">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">iCal applications</h5>
      </div>
      <p class="mb-1"> <%= link_to(nil, calendar_feed_url(@personal_token, format: :ics, protocol: 'webcal')) %> </p>
      <small>Use this address to privately access your calendar from other applications such as
        Apple Calendar, Google Calendar, Outlook Calendar or their mobile variants.</small>
    </div>
  </div>

  <%= form_for @personal_token, url: calendar_path, method: :post do |f| %>
    <div class="form-row">
      <div class="col-sm-6 col-md-8">
        <p>You can reset the secret address and make the current one invalid.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= f.submit("Reset secret address",
                     id: "btn-reset-private-address",
                     class: "btn btn-danger btn-block",
                     data: { confirm: "Are you sure you want to reset the secret address?" }) %>
      </div>
    </div>
  <% end %>
</section>

<section class="my-4">
  <h3>Preferences</h3>
  <%= form_with(url: settings_path, method: :put, local: true) do |f| %>
    <div class="form-row">
      <div class="col-sm-8 col-md-8">
        <label for="time_zone" class="my-2 mr-2">Time zone</label>
        <%= select_tag(:time_zone, time_zone_options_for_select(@time_zone.name)) %>
        <p class="form-text text-muted">
          Choose the preferred time zone for events to be shown in.
        </p>
      </div>
      <div class="col-sm-4 col-md-4">
        <%= f.submit("Update time zone", class: "btn btn-block btn-outline-primary") %>
      </div>
    </div>
  <% end %>
</section>
