<section>
  <h3> Secret address </h3>

  <div class="shadow-sm p-3 mb-3 bg-white rounded">
    <%= link_to(nil, calendar_feed_url(@personal_token)) %> 
  </div>

  <p> Use the Secret Address to access this calendar from other applications.
  <strong>Don’t share this address with other people.</strong> </p>

  <%= form_for @personal_token, url: calendar_path, method: :post do |f| %>
    <div class="form-row">
      <div class="col-sm-6 col-md-8">
        <p>If you accidentally shared your calendar's Secret Address, you can reset it and make the current one invalid.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <button class="btn btn-danger btn-block"
                id="btn-reset-private-address"
                type="submit">Reset secret address</button>
      </div>
    </div>
  <% end %>
</section>

<section class="my-4">
  <h3>Calendar settings</h3>
  <%= form_with(url: calendar_path, method: :post, local: true) do |f| %>
    <div class="form-row">
      <div class="col-sm-8 col-md-8">
        <label for="tz" class="my-2 mr-2">Time zone</label>
        <%= select_tag(:tz, time_zone_options_for_select(@time_zone.name)) %>
        <p class="form-text text-muted">
          You can change your time zone and we'll show event times in your time zone.
        </p>
      </div>
      <div class="col-sm-4 col-md-4">
        <%= f.submit("Update time zone", class: "btn btn-block btn-outline-primary") %>
      </div>
    </div>
  <% end %>
</section>
