<% content_for :page_title, "My Feed" %>

<% content_for :javascript do %>
  <script charset="utf-8">
    (function() {
      var link = document.getElementById("google-instructions-toggle");
      var instructions = document.getElementById("google-instructions");

      link.addEventListener('click', event => {
        instructions.classList.remove("d-none");
        event.preventDefault();
      });
    })();
  </script>
<% end %>

<h2 class="perma__header text-center"> Your Secret Feed </h2>

<section class="text-center p-4">
  <h3 class="h5">Subscribe to all events in your EVE Online calendar via…</h3>

  <div class="d-flex flex-wrap justify-content-center">
    <%= link_to("#", class: "feed-option feed-option__google", id: "google-instructions-toggle") do %>
      Google Calendar
    <% end %>
    <%= link_to(calendar_feed_url(@personal_token, format: :ics, protocol: 'webcal'),
                class: "feed-option feed-option__apple") do %>
      Apple Calendar
    <% end %>
    <%= link_to(calendar_feed_url(@personal_token, format: :ics, protocol: 'webcal'),
                class: "feed-option feed-option__outlook") do %>
      Outlook
    <% end %>
    <%= link_to(calendar_feed_url(@personal_token),
                class: "feed-option feed-option__browser") do %>
      Browser
    <% end %>
  </div>

  <div class="alert alert-secondary text-left my-3 d-none" role="alert" id="google-instructions">
    <p>
      <input type="text"
            value="<%= calendar_feed_url(@personal_token, format: :ics) %>"
            class="form-control"
            autofocus="true"
            readonly="readonly" />
    </p>
    <ol>
      <li>Copy the link above to your clipboard</li>
      <li>Open Google Calendar</li>
      <li>On the left side, choose “Add a friend's calendar &gt; From URL”</li>
      <li>Paste the link you copied from above and click “Add Calendar”</li>
    </ol>
  </div>

  <div class="my-5">
    <p class="text-secondary">Preferred time zone for events to be shown in</p>
    <%= form_with(url: settings_path, method: :put, local: true) do |f| %>
      <div class="d-flex justify-content-center align-items-center">
        <div class="mr-2">
          <%= select_tag(:time_zone, time_zone_options_for_select(@time_zone.name), class: "custom-select custom-select-sm") %>
        </div>
        <div>
          <%= f.submit("Update time zone", class: "btn btn-sm btn-outline-primary") %>
        </div>
      </div>
    <% end %>
  </div>

  <p class="my-5 text-center">
    <strong>Don’t share feed’s address with other people.</strong>
    To make the current one invalid, you can
    <%= link_to "reset it",
        calendar_url,
        method: :post,
        class: "text-danger",
        data: { confirm: "Are you sure you want to reset the secret address?" } %>.
  </p>
</section>
