<!DOCTYPE html>
<html>
  <head>
    <title>eventical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_class %> text-center">
    <div class="content d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead d-flex justify-content-between">
        <h3 class="masthead-brand">
          <a href="/" title="eventical">eventical</a>
        </h3>
        <% if signed_in? %>
          <%= link_to calendar_url do %>
            <img src="https://image.eveonline.com/Character/<%= current_character.uid %>_256.jpg"
                class="rounded avatar"
                title="<%= current_character.name %>"
                alt="<%= current_character.name %>"/>
          <% end %>
        <% else %>
          <%= eve_online_sso_button(:small) %>
        <% end %>
      </header>

      <main role="main" class="inner">
        <%= yield %>
      </main>

      <footer class="mastfoot">
        <div class="inner text-center">
          <ul class="list-inline">
            <% if signed_in? %>
              <li class="list-inline-item"><a href="/logout">Sign out</a></li>
            <% end %>
            <li class="list-inline-item"><a href="/about">About</a></li>
          </ul>
          <p class="mb-1">&copy; <%= Date.today.year %> eventical.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
